# Ignore large video files
tamarProject/tamarProject/images/eurovision/*.mov
tamarProject/tamarProject/images/eurovision/*.mp4
tamarProject/tamarProject/images/eurovision/*.avi

# Ignore build outputs EXCEPT Roslyn compiler
tamarProject/tamarProject/bin/*.dll
tamarProject/tamarProject/bin/*.pdb
tamarProject/tamarProject/bin/*.xml
!tamarProject/tamarProject/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
!tamarProject/tamarProject/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
!tamarProject/tamarProject/bin/tamarProject.dll.config
!tamarProject/tamarProject/bin/roslyn/

tamarProject/tamarProject/obj/

# Ignore packages
packages/

# Ignore user-specific files
*.user
*.suo
.vs/
